html {
  height: 100%;
  --primary-color: #282c34;
  --secondary-color: #66FF00;
  --third-color: grey;
  --text-light-color: white;
  --text-dark-color: black;
  --light-background: #EEEEEE;
  --dark-grey: #9E9E9E;
  --border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--text-light-color);
}

body {
  height: 100%;
}

#root {
  height: 100%;

}

.App {
  height: 100%;
  text-align: center;
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.App-header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 12%;
}

.AppContent {
  background-color: var(--third-color);
  min-height: 80%;
}

.AppFooter {
  min-height: 8%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: right;
  padding: 3%;
}

.containerDrag {
  text-align: center;
}

.taskWipComplete {
  background-color: var(--light-background);
  border-right: 1px dotted;
  color: var(--text-dark-color);
  padding: 0 10px;
  min-width: 45%;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: var(--light-background);
  width: 100%;
}

.taskHeader {
  display: inline-block;
  background-color: var(--secondary-color);
  width: 100%;
}

.droppable {
  /* position: absolute; */
  /* width: 150px;
  height: 80vh;
  right: 0;
  top: 30%; */
  background-color: var(--dark-grey);
  border-left: 1px dotted;

}

.draggable {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  margin: 5px auto;
  line-height: 5em;
  text-shadow: 1px 1px#EEEEEE;
  margin: 2px 2px;
  border-radius: var(--border-radius);
}

.taskContainer {
  display: flex;
  justify-content: space-between;
}

.eachTaskContainer {
  display: flex;
  flex-wrap: wrap;
  
}